/*FONT FAMILY*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;800&display=swap");

/*PALETA DE COLORES*/

:root {
  --blanco-1: #f8f9fa;
  --blanco-2: #e9ecef;
  --blanco-3: #dee2e6;
  --blanco-4: #ced4da;

  --gris-1: #adb5bd;
  --gris-2: #6c757d;
  --gris-3: #495057;
  --gris-4: #343a40;

  --negro-1: #343a40;

  /*colores del logo*/

  --azul-logo: #204472;
  --blanco-logo: #f7f7ec;
  --naranja1-logo: #ee8333;
  --naranja2-logo: #ea6c32;
  --amarillo1-logo: #f2d759;
  --amarillo2-logo: #f5b917;
  --piel-logo: #ceaa8e;
  --marron-logo: #958652;
  --celeste-logo: #748ca4;

  /*-------------------------------*/

  --azul-webstudio: #3454d1;

  --body-color: #e4e9f7;
  --nav-color: #4070f4;
  --side-nav: #010718;
  --text-color: #fff;
  --search-bar: #f2f2f2;
  --search-text: #010718;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--blanco-1);
  color: var(--search-text);
}

/*colores background y btn*/

.back_color {
  background-color: var(--naranja2-logo) !important;
}

.btn_color {
  background-color: var(--naranja2-logo) !important;
}

.btn_color:hover {
  background-color: var(--naranja1-logo) !important;
}
/*--------------------------------------------------------*/

/*HEADER*/ /*HERO*/

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url("../assets/fondo_pelotas.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.imagen-logo {
  height: 100px;
  padding: 1rem;
}

.page-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.349);
  z-index: 100;
  text-align: center;
  color: #000;
}
nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: transparent;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}
nav .nav-bar .logo a {
  font-size: 16px;
  font-weight: 600;
  color: black !important;
  text-decoration: none;
}
.menu .logo-toggle {
  display: none;
}
.nav-bar .nav-links {
  display: flex;
  align-items: center;
  text-align: center;
}
.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
  text-align: center;
  margin-top: 1rem;
}
.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: black !important;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}
.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}
.nav-links li:hover a::before {
  opacity: 1;
}
@media (max-width: 1000px) {
  nav .nav-bar .sidebarOpen {
    display: block;
    color: #000;
  }
  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: white;
    z-index: 100;
    transition: all 0.4s ease;
    color: black;
  }
  .imagen-logo {
    height: 100px;
  }
  nav.active .menu {
    left: -0%;
  }
  .navlogo2 {
    display: none;
  }
  .logo-2 {
    color: black !important;
    font-size: 14px;
  }
  nav.active .nav-bar .navLogo a {
    transition: all 0.3s ease;
    color: black !important;
  }
  .menu .logo-toggle {
    display: block;
    color: black !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-toggle .siderbarClose {
    color: black !important;
    font-size: 24px;
    cursor: pointer;
  }
  .nav-bar .nav-links {
    color: black !important;
    flex-direction: column;
    padding-top: 30px;
  }
  .nav-links li a {
    color: black !important;
    display: block;
    margin-top: 20px;
  }
}
