/*FONT FAMILY*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;800&display=swap");

/*PALETA DE COLORES*/

:root {
  --blanco-1: #f8f9fa;
  --blanco-2: #e9ecef;
  --blanco-3: #dee2e6;
  --blanco-4: #ced4da;

  --gris-1: #adb5bd;
  --gris-2: #6c757d;
  --gris-3: #495057;
  --gris-4: #343a40;

  --negro-1: #343a40;

  /*colores del logo*/

  --azul-logo: #204472;
  --blanco-logo: #f7f7ec;
  --naranja1-logo: #ee8333;
  --naranja2-logo: #ea6c32;
  --amarillo1-logo: #f2d759;
  --amarillo2-logo: #f5b917;
  --piel-logo: #ceaa8e;
  --marron-logo: #958652;
  --celeste-logo: #748ca4;

  /*-------------------------------*/

  --azul-webstudio: #3454d1;

  --body-color: #e4e9f7;
  --nav-color: #4070f4;
  --side-nav: #010718;
  --text-color: #fff;
  --search-bar: #f2f2f2;
  --search-text: #010718;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--blanco-1);
  color: var(--search-text);
}

/*colores background y btn*/

.back_color {
  background-color: var(--naranja2-logo) !important;
  background-image: url(../assets/noise.png);
}

.btn_color {
  background-color: var(--naranja2-logo) !important;
}

.btn_color:hover {
  background-color: var(--naranja1-logo) !important;
}
/*--------------------------------------------------------*/

/*HEADER*/ /*HERO*/

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url("../assets/img/fondo_pelotas.webp");
  /*     background-image: url(../assets/img/fondo_pelotas.webp);
 */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.imagen-logo {
  height: 100px;
  padding: 1rem;
}

.page-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.349); */
  background-color: white;
  background-image: url(../assets/img/noise.png);
  z-index: 100;
  text-align: center;
  color: #000;
}
nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: transparent;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}
nav .nav-bar .logo a {
  font-size: 16px;
  font-weight: 600;
  color: black !important;
  text-decoration: none;
}
.menu .logo-toggle {
  display: none;
}
.nav-bar .nav-links {
  display: flex;
  align-items: center;
  text-align: center;
}
.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
  text-align: center;
  margin-top: 1rem;
}
.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: black !important;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}
.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--naranja2-logo);
  opacity: 0;
  transition: all 0.3s ease;
}
.nav-links li:hover a::before {
  opacity: 1;
}

.nav-links li a:hover {
  color: var(--naranja2-logo) !important;
  transition: 0.5s;
}

@media (max-width: 1000px) {
  nav .nav-bar .sidebarOpen {
    display: block;
    color: #000;
  }
  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: white;
    z-index: 100;
    transition: all 0.4s ease;
    color: black;
  }
  .imagen-logo {
    height: 100px;
  }
  nav.active .menu {
    left: -0%;
  }
  .navlogo2 {
    display: none;
  }
  .logo-2 {
    color: black !important;
    font-size: 14px;
  }
  nav.active .nav-bar .navLogo a {
    transition: all 0.3s ease;
    color: black !important;
  }
  .menu .logo-toggle {
    display: block;
    color: black !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-toggle .siderbarClose {
    color: black !important;
    font-size: 24px;
    cursor: pointer;
  }
  .nav-bar .nav-links {
    color: black !important;
    flex-direction: column;
    padding-top: 30px;
  }
  .nav-links li a {
    color: black !important;
    display: block;
    margin-top: 20px;
  }
}

@media (max-width: 550px) {
  .img_hero {
    width: 300px;
  }
}

@media (max-width: 360px) {
  .img_hero {
    width: 250px;
  }
}

/*--------------------------------------------------------*/

/*QUIENES SOMOS*/

.p_quienessomos {
  font-size: 20px !important;
  color: white !important;
}

/*--------------------------------------------------------*/

/*INSCRIPCION*/

.btn-xl {
  margin-top: 1rem;
  padding: 1rem 2rem;
}

/*--------------------------------------------------------*/

/*GALERIA DE IMAGENES*/

.img-gallery {
  width: 80%;
  margin: 50px auto 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  animation: zoomIn;
  animation-duration: 2s;
}
.img-gallery img {
  width: 100%;
  cursor: pointer;
  transition: 1.2s;
  border-radius: 5px;
}
.img-gallery img:hover {
  transform: scale(1.2);
}
.ful-img {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.ful-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 25px;
  color: black;
  cursor: pointer;
  padding: 0px;
  background: white;
  border-radius: 10%;
  padding-left: 10px;
  padding-right: 10px;
}

.ful-img img {
  width: 90%;
  max-width: 600px;
}
@media screen and (max-width: 900px) {
  .img-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .img-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/*--------------------------------------------------------*/

/*CONTACTO Y DONDE ESTAMOS*/

/*-- MAPA --*/

.mapa {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container_mapa {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mapa h6 {
  font-size: 2rem;
}

.mapa_iframe {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
}

.mapa_iframe p {
  font-size: 1rem;
}

.iframe_mapa {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
  box-sizing: border-box;
  border-radius: 15px;
  width: 600px;
  height: 450px;
}

@media screen and (max-width: 850px) {
  .iframe_mapa {
    width: 500px;
    height: 450px;
  }
  .page-section {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 520px) {
  .iframe_mapa {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 415px) {
  .iframe_mapa {
    width: 300px;
    height: 300px;
  }

  .mapa_iframe p {
    text-align: center;
  }
}

/*--------------------------------------------------------*/

/*count up */

:root {
  --container: 112rem;
  --m-auto: 0 auto;
  --white: #fff;
  --bg-hero: #251c5a;
  --bg-counter: #2f2371;
  --bg-item: #5d46e2;
}

.container {
  max-width: var(--container);
  margin: var(--m-auto);
  padding: 0 1rem;
}
/* section:not(#section_counter) {
  height: 100vh;
} */
.section-heading {
  font-size: 4rem;
}

/* #pricing {
     background: var(--bg-hero);
 
  display: flex;
  align-items: center;
  justify-content: center;
} */
#section_counter {
  padding: 5rem 0;
  /*   background: var(--bg-counter);
 */
  margin-bottom: 10rem;
}
#section_counter .section-heading {
  padding-bottom: 5rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
.counter-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.counter-item {
  background: var(--naranja2-logo);
  padding: 3rem 1.5rem;
  text-align: center;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
  transform: translateY(6rem);
}
.counter-img {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.2rem var(--bg-hero));
}
.counter-img:nth-child(1) {
  width: 9rem;
  height: auto;
}
.counter-item:hover {
  background: var(--naranja1-logo);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.counter-item .counter {
  font-size: 4.5rem;
  color: transparent;
  color: transparent;
  letter-spacing: 0.5rem;
  -webkit-text-stroke-width: 0.15rem;
  -moz-text-stroke-width: 0.15rem;
  -ms-text-stroke-width: 0.15rem;
  -o-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: var(--white);
  -moz-text-stroke-color: var(--white);
  -ms-text-stroke-color: var(--white);
  -o-text-stroke-color: var(--white);
}

@keyframes slide-up {
  0% {
    transform: translateY(6rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

/*--------------------------------------------------------*/

/*FOOTER*/

footer {
  margin-top: 2rem;
  background-color: var(--blanco-carpi) !important;
  background-image: url(Img/noise.png);
}

.socialmedia {
  font-size: 2rem;
}

.bi-facebook {
  color: #3b5998;
}

.bi-instagram {
  color: #f09433;
  color: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.bi-linkedin {
  color: #0e76a8;
}

.footer_div_redes {
  display: flex;
  gap: 1rem;
}

.footer_copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer_copyright_p {
  margin-bottom: 0;
  padding-left: 5px;
  color: var(--azul) !important;
}

.div_footer {
  display: flex;
  justify-content: center;
}

.div_container_columnas_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* Esto crea 3 columnas de igual ancho */
  gap: 5rem;
  /* Espacio entre las columnas */
  width: 70%;
  /* Ancho total del contenedor */
}

.div_columnas_footer {
  margin: 2rem;
}

@media (max-width: 1770px) {
  .div_container_columnas_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
  }
}

@media (max-width: 1375px) {
  .div_container_columnas_footer {
    width: 100%;
  }
}

@media (max-width: 1240px) {
  .div_container_columnas_footer {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
  }

  .div_columnas_footer {
    width: 50%;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .div_columnas_footer {
    width: 70%;
  }
}

@media (max-width: 425px) {
  .div_container_columnas_footer {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .div_columnas_footer {
    width: 90%;
  }

  .div_columnas_footer {
    margin: 0.5rem;
  }
}

@media (max-width: 360px) {
  .div_columnas_footer {
    width: 100%;
  }
}

.footer_copyright_p {
  color: var(--naranja2-logo) !important;
}

.webstudio_a {
  color: var(--azul-webstudio) !important;
  text-decoration: none;
}

.a_footer:hover {
  color: var(--naranja2-logo) !important;
  transition: 0.5s;
}

.webstudio_div {
  margin-bottom: 2rem;
}

.only_copy {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
/*--------------------------------------------------------*/

/*-- ANIMACIONES --*/

.heartbeat:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.zoom:hover {
  transform: scale(1.05);
}

.titulo_principal {
  animation: fadeInDown;
  animation-duration: 2s;
}

/*--------------------------------------------------------*/

/*boton wpp flotante*/

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.float:hover {
  text-decoration: none;
  color: #fff;
  background-color: #1ab152;
  transition: 0.5s;
}

.my-float {
  margin-top: 16px;
}

/*--------------------------------------------------------*/

@media screen and (max-width: 1250px) {
  .page-section {
    display: flex;
    flex-direction: column;
  }
}

/*--------------------------------------------------------*/
